@model IEnumerable<GoGaming.Models.JuegoViewModel>

@{
    ViewBag.Title = "Juegos Buscados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center" style="margin-top:1.5em;">Resultados</h2>
<br />

@using (Html.BeginForm("Buscar", "Juego", FormMethod.Post, null))
{
    <div class="jumbotron" style="background-color: #222222;">
        <h3 align="center">Busca tus juegos favoritos</h3><br />
        <div class="form-inline" align="center">
            <div class="form-group pl-2">
                <input type="search" class="form-control" id="text" name="nom" placeholder="Introduce un juego...">
            </div>
            <button type="submit" class="btn btn-primary" style="color:#FFFFFF"> <span class="glyphicon glyphicon-search"></span> Buscar</button>

        </div>
    </div>

    <br />
}

@foreach (var item in Model)
{
    <div class="card w-50 jumbotron" style="background-color: #222222 ">
        <img class="card-img-top img-responsive center-block" src="@Html.DisplayFor(modelItem => item.Portada)" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title"> @Html.DisplayFor(modelItem => item.Nombre)</h2>
            @*<h4 class="card-text"> @Html.DisplayFor(modelItem => item.Descripcion)</h4>*@
            @*@{
                var generos = item.Generos;
                var genNombres = (string[])ViewData["nombresGenero"];
                var first = false;
            }

            @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
            {
                if (generos[i])
                {
                    if (!first)
                    {
                        @genNombres[i];
                        first = true;
                    }
                    else
                    {
                        var aux = ", ";
                        @aux;
                        @genNombres[i];
                    }
                }

            }<br />*@
             <div class="text-right">
                 @*@Html.ActionLink("Detalle", "DetallesDesdeBuscador", new { id = item.Id }, new { @class = "btn btn-primary stretched-link ", role = "button" })*@
                 @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn btn-primary stretched-link ", role = "button" })
             </div>
        </div>
    </div>
                }   

    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Generos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Portada)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>


                    <td>
                        @{
                            var generos = item.Generos;
                            var genNombres = (string[])ViewData["nombresGenero"];
                            var first = false;
                        }
                        @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
                        {
                            if (generos[i])
                            {
                                if (!first)
                                {
                                    @genNombres[i];
                                    first = true;
                                }
                                else
                                {
                                    var aux = ", ";
                                    @aux;
                                    @genNombres[i];
                                }
                            }

                        }
                    </td>
                    <td>
                        <img height="60" width="100 " src="@Html.DisplayFor(modelItem => item.Portada)" />
                    </td>
                    <td>
                        @Html.ActionLink("Detalle", "DetallesDesdeBuscador", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>*@




