@model GoGaming.Models.JuegoViewModel
@using PracticaDSMGenNHibernate.EN.DSMPracticas;


@{
    ViewBag.Title = "Detalle Juego";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idUsuario = -1;

    if (Session["Usuario"] != null)
    {
        idUsuario = ((UsuarioEN)Session["Usuario"]).Id;
    }
    string guardar = "Guardar juego";
    if (ViewData["Guardado"] != null && (bool)(ViewData["Guardado"]))
    {
        guardar = "Eliminar juego";
    }
    else
    {
        guardar = "Guardar juego";
    }
    int idComunidad = -1;
    if(ViewData["comunidad"] != null) {
        idComunidad = (int)ViewData["comunidad"];
    }
}

<h1>Sobre el juego</h1>

<div class="card w-50 jumbotron" style="background-color: #222222 ">
    @if (idUsuario != -1)
    {
        <div class="text-right" style="margin-bottom: 10px;">
            @Html.ActionLink(guardar, "Guardar", new { idJuego = Model.Id }, new { @class = "btn btn-primary stretched-link ", role = "button" })
        </div>
    }
    <img class="card-img-top img-responsive center-block" style="max-width:100%" src="@Html.DisplayFor(model => model.Portada)" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title"> @Html.DisplayFor(model => model.Nombre)</h2>
        <h4 class="card-text"> @Html.DisplayFor(model => model.Descripcion)</h4>
        @{
            var generos = Model.Generos;
            var genNombres = (string[])ViewData["nombresGenero"];
            var first = false;
        }

        @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
        {
            if (generos[i])
            {
                if (!first)
                {
                    @genNombres[i];
                    first = true;
                }
                else
                {
                    var aux = ", ";
                    @aux;
                    @genNombres[i];
                }
            }

        }
        <br /><br />
        @if (idComunidad != -1)
        {
            <div class="text-right">
                @Html.ActionLink("Visitar comunidad", "../Comunidad/Details", new { id = idComunidad }, new { @class = "btn btn-primary stretched-link ", role = "button" })
            </div>
        }
        @if (idUsuario != -1 && ((UsuarioEN)Session["Usuario"]).Administrator)
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) <span> | </span>
        }
        @Html.ActionLink("Atrás", "Index")
    </div>
</div>

@*<div>
        <h4>Juego</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Portada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Portada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Generos)
            </dt>

            <dd>
                @{
                    var generos = Model.Generos;
                    var genNombres = (string[])ViewData["nombresGenero"];
                    var first = false;
                 }
                <div>
                    @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
                    {
                        if (generos[i])
                        {
                            if (!first)
                            {
                                @genNombres[i];
                                first = true;
                            }
                            else
                            {
                                var aux = ", ";
                                @aux;
                                @genNombres[i];
                            }
                        }

                    }
                </div>

            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Atrás", "Index")
    </p>*@
