@model IEnumerable<GoGaming.Models.JuegoViewModel>
@using PracticaDSMGenNHibernate.EN.DSMPracticas;

@{
    ViewBag.Title = "Juegos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int idUsuario = -1;

    if (Session["Usuario"] != null)
    {
        idUsuario = ((UsuarioEN)Session["Usuario"]).Id;
    }
}

<h1>Juegos recientes</h1>
<br />
@if (idUsuario != -1 && ((UsuarioEN)Session["Usuario"]).Administrator)
{
    <p>
        @Html.ActionLink("Crear Nuevo Juego", "Create")
    </p>
}

    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portada)
            </th>
            <th></th>
        </tr>*@

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="card w-50 jumbotron" style="background-color: #222222; min-height:400px;">
                        <img class="card-img-top img-responsive center-block" style="max-width:80%" src="@Html.DisplayFor(modelItem => item.Portada)" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title"> @Html.DisplayFor(modelItem => item.Nombre)</h2>
                            @*<h4 class="card-text"> @Html.DisplayFor(modelItem => item.Descripcion)</h4>*@
                            @{
                                var generos = item.Generos;
                                var genNombres = (string[])ViewData["nombresGenero"];
                                var first = false;
                            }

                            @*@for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
        {
            if (generos[i])
            {
                if (!first)
                {
        @genNombres[i];
                    first = true;
                }
                else
                {
                    var aux = ", ";
        @aux;
        @genNombres[i];
                }
            }

        }*@<br />
                            <div class="text-right">
                                @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn btn-primary stretched-link ", role = "button" })
                            </div><br />
                            @if (idUsuario != -1 && ((UsuarioEN)Session["Usuario"]).Administrator)
                            {
                                @Html.ActionLink("Crear Comunidad", "../Comunidad/Create", new { id = item.Id }) <span> | </span>
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) <span> | </span>
                                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @{
                    var generos = item.Generos;
                    var genNombres = (string[])ViewData["nombresGenero"];
                    var first = false;
                }

                    @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
                    {
                        if (generos[i])
                        {
                            if (!first)
                            {
                                @genNombres[i];
                                first = true;
                            }
                            else
                            {
                                var aux = ", ";
                                @aux;
                                @genNombres[i];
                            }
                        }

                    }
            </td>
            <td>
                <img height="60" width="100 " src="@Html.DisplayFor(modelItem => item.Portada)" />
            </td>
            <td>
                @Html.ActionLink("Crear Comunidad", "../Comunidad/Create", new { id = item.Id }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>*@


    @*</table>*@
