@model GoGaming.Models.ComunidadViewModel
@using PracticaDSMGenNHibernate.EN.DSMPracticas;


@{
    ViewBag.Title = "Detalle Comunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Url = (string)ViewData["imagen"];

    int idUsuario = -1;
    if (Session["Usuario"] != null)
    {
        idUsuario = ((UsuarioEN)Session["Usuario"]).Id;
    }
    string unirme = "Unirme";
    if (ViewData["Unido"] != null && (bool)(ViewData["Unido"]))
    {
        unirme = "Salir de la comunidad";
    }
    else
    {
        unirme = "Unirme";
    }
}

<h1>Comunidad de @Model.Nombre</h1>
<div class="card w-50 jumbotron" style="background-color: #222222 ">
    <div class="text-right">
        
        @if (idUsuario != -1)
        {
            @Html.ActionLink(unirme, "Unirme", new { id = Model.CodigoComunidad }, new { @class = "btn btn-primary stretched-link ", role = "button" })
        }
        else
        {
            @Html.ActionLink("Unirme", "../Usuario/Login", new { error = "Tienes que iniciar sesión para unirte a la comunidad." }, new { @class = "btn btn-primary stretched-link btn-lg", role = "button" })
        }
    </div>
    <br />
    <img src="@Url" class="card-img-top img-responsive center-block" style="max-width:100%" />
    <br />
    
    @if (ViewData["pertenece"] != null && (bool)ViewData["pertenece"])
    {
        <button style="position:fixed; bottom: 20px; right: 20px;" class="btn btn-primary stretched-link btn-lg" onclick="window.location = '/Post/Create/'+ @Model.CodigoComunidad;">Crear un Post</button>

    }
    else
    {
        <button style="position:fixed; bottom: 20px; right: 20px;" class="btn btn-primary stretched-link btn-lg" data-toggle="modal" data-target="#exampleModal">Crear un Post</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Aviso: No perteneces a la comunidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="color: black;">Necesitas pertecener a la comunidad para poder publicar un post en ella</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
    <div align="right">
        <p style="font-size: medium;">Ordenar por:</p>
        <select class="form-control" id="select" style="max-width:100px;">
            <option value="Fecha">Fecha</option>
            <option value="Likes">Likes</option>
        </select>
    </div>

    <div id="partialView">
        <div id="fecha">
            @{Html.RenderAction("IndexPartialFecha", "Post", new { id = Model.CodigoComunidad });}
        </div>
        <div id="likes">
            @{Html.RenderAction("IndexPartialLikes", "Post", new { id = Model.CodigoComunidad });}
        </div>


    </div>
</div>


@section Scripts
{
    <script>
        var fecha = "";
        var likes = "";
        window.onload = function () {
            fecha = document.querySelector("#fecha").innerHTML;
            likes = document.querySelector("#likes").innerHTML;
            var toRemove = document.querySelector("#likes");
            toRemove.parentNode.removeChild(toRemove);
        }



        document.querySelector("#select").onchange = function () {
            select = document.querySelector("#select");
            switch (select.value) {
                case "Fecha":

                    var toRemove = document.querySelector("#likes");
                    var parent = toRemove.parentNode;
                    parent.removeChild(toRemove);
                    var div = document.createElement('div');
                    div.id = 'fecha';
                    div.innerHTML = fecha;
                    parent.appendChild(div);

                    break;

                case "Likes":

                    var toRemove = document.querySelector("#fecha");
                    var parent = toRemove.parentNode;
                    parent.removeChild(toRemove);
                    var div = document.createElement('div');
                    div.id = 'likes';
                    div.innerHTML = likes;
                    parent.appendChild(div);

                    break;
            }
        }
    </script>
}
