@model IEnumerable<GoGaming.Models.ComunidadViewModel>

<h2>Mis comunidades</h2>

@foreach (var item in Model)
{

    <div class="card w-50 jumbotron" style="background-color: #222222; margin-top: 3em;">
        @*<img class="card-img-top img-responsive center-block" src="@Html.DisplayFor(modelItem => item.Portada)" alt="Card image cap">*@
        <div class="card-header text-muted"> @Html.DisplayFor(modelItem => item.NomJuego)</div>
        <div class="card-body">
            <h2 class="card-title"> @Html.DisplayFor(modelItem => item.Nombre)</h2>
            <br />
            <h4 class="card-text"> @Html.DisplayFor(modelItem => item.Descripcion)</h4>
            <br />
            <h6 class="card-subtitle mb-2 text-muted"> @Html.DisplayFor(modelItem => item.FechaCreacion)</h6>
            <div class="text-right">
                @Html.ActionLink("Visitar", "Details", new { id = item.CodigoComunidad }, new { @class = "btn btn-primary stretched-link ", role = "button" })
            </div>
            @*@Html.ActionLink("Editar", "Edit", new { id = item.CodigoComunidad }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.CodigoComunidad })*@
        </div>
    </div>
}