@model IEnumerable<GoGaming.Models.PostViewModel>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@{ 
    IList<string> enums = null;
    if (ViewData["enum"]!=null){
        enums = (IList<string>)ViewData["enum"];
    }
}


@foreach (var item in Model)
{
<div class="card w-50 jumbotron" style="background-color: #2C2F33; margin-top: 3em; cursor:pointer;" onclick="window.location = '/Post/Details/@item.Id'" style="cursor: pointer;">
    <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
    <h4 class="card-subtitle mb-2 text-muted"> Publicado por: <i>@Html.ActionLink(item.UsuarioName, "../Usuario/Details/", new { id = item.Usuario })</i></h4>
    <h4 class="card-subtitle mb-2 text-muted">Categoría: <i style="color:white;">@enums[item.Categoria]</i></h4>
    <p style="margin-top:1.5em; font-size: medium" ;>@Html.DisplayFor(modelItem => item.Contenido)</p>
    <br />
    @if (item.Imagen != "")
    {
        <img class="center-block" src="/Images/@Html.DisplayFor(modelItem => item.Imagen)" style="width: 100%" />
    }
    <p style="margin-top: 1em;">❤ @Html.DisplayFor(modelItem => item.Likes)&nbsp;&nbsp;💬@Html.DisplayFor(modelItem => item.Comentarios)</p>

</div>
}

   